name: tox

on:
  push:
    branches:
      - "**"
  pull_request:
  schedule:
    - cron: 1 0 * * *  # Run daily at 0:01 UTC

jobs:
  tests:
    name: ${{ matrix.tox_env }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - tox_env: lint
          # - tox_env: docs
          - tox_env: py36
            PREFIX: PYTEST_REQPASS=2
          - tox_env: py36-devel
            PREFIX: PYTEST_REQPASS=2
          - tox_env: py37
            PREFIX: PYTEST_REQPASS=2
          - tox_env: py38
            PREFIX: PYTEST_REQPASS=2
          - tox_env: py39
            PREFIX: PYTEST_REQPASS=2
          - tox_env: py39-devel
            PREFIX: PYTEST_REQPASS=2
          - tox_env: packaging

    steps:
      - uses: actions/checkout@v2

      - name: LXD init
        uses: bonddim/action-lxd@v1

      - name: Find python version
        id: py_ver
        shell: python
        if: ${{ contains(matrix.tox_env, 'py') }}
        run: |
          v = '${{ matrix.tox_env }}'.split('-')[0].lstrip('py')
          print('::set-output name=version::{0}.{1}'.format(v[0],v[1:]))

      # Even our lint and other envs need access to tox
      - name: Install a default Python
        uses: actions/setup-python@v2
        if: ${{ ! contains(matrix.tox_env, 'py') }}

      # Be sure to install the version of python needed by a specific test, if necessary
      - name: Set up Python version
        uses: actions/setup-python@v2
        if: ${{ contains(matrix.tox_env, 'py') }}
        with:
          python-version: ${{ steps.py_ver.outputs.version }}

      - name: Install tox
        run: python -m pip install --user tox

      - name: Run tox -e ${{ matrix.tox_env }}
        run: ${{ matrix.PREFIX }} tox -e ${{ matrix.tox_env }}
